/* [class*=container]{
    background-color: red;
    min-height: 0.5rem;
    
}
[class*=row]{
    background-color: rgb(255, 0, 191);
    min-height: 0.5rem;

}
[class*=col]{
    background-color: rgb(81, 0, 255);
    min-height: 0.5rem;

} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    height: 5rem;
    width: 100%;
    position: fixed;
    background-color: white;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
}

/* menu dropdown */
.my-container-menu{
    position: relative;
    
}
.my-container-menu .my-dropdown{
    
    position: absolute;
    left: -87px;
    top: 28px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.my-dropdown li{
    margin: 1rem 0;
    padding-left: 2rem;
   
    
}
.my-container-menu a{
    padding: 1rem;
    margin-top: 1rem;
    
}
/* generali di lista */
i{
    padding:0.5rem;
    
}

i:hover{
    cursor: pointer;
}
a{
    color: black;
    text-decoration: none;
    
}

ul{
    list-style-type: none;
    padding: 0;
}

/* menu responsive da md in poi */
.myMenuResponsive{
    display: flex;
    margin: 0;
}




/* inizio main */
main{
    height: 100rem;
    width: 100%;
    background-color: grey;
    color: white;
    padding: 10rem;
}
footer{
    height: 10rem;
    width: 100%;
    background-color: grey;
}